#!/usr/bin/env python
import sys
import os

package_base = r"${btransformer_base}\dblatex\share\dblatex"

sys.path.append(r"${btransformer_base}\dblatex\lib")


from dbtexmf.dblatex import dblatex
dblatex.main(base=package_base)
